---
# One page per file in content/essays/. Adding an essay needs no changes here.
pagination:
  data: essays
  size: 1
  alias: essay
layout: layouts/essay.njk
permalink: "/essays/{{ essay.slug }}/"
pageKind: essay
---
